<div class='foodCard'>
    <div class='image'>
        <img src={{image}} alt={{name}} loading='lazy' />
    </div>
    <div class='info'>
        <div class='nameFood'>
            <h2>{{name}}</h2>
        </div>
        <div class='description'>
            <h4>{{description}}</h4>
        </div>
        <div class='price'>
            <p>$ {{formatCurrency price}}</p>
        </div>
        <div class='circle'>
            <div class='plus'></div>
        </div>
        {{#each ingredients}}
            <div class='ingredients' style='position: relative; top: 1px; color: red; opacity: 0;'>
                <p>{{this}}</p>
            </div>
        {{/each}}
    </div>
</div>