<div class='main-content'>
    <div class='invoice-container'>
        <div class='top'>
            <div class='top-left'>
                <h1 class='main'>Invoice</h1>
                <span class='code'>{{this._id}}</span>
            </div>
            <div class='top-right'>
                <div class='date'>Date: {{formatDate this.createdAt}}</div>
            </div>
        </div>
        <div class='table-bill'>
            <table class='table-service'>
                <thead>
                    <th class='no'>NO.</th>
                    <th>NAME</th>
                    <th class='table-bill-price'>PRICE</th>
                    <th>QTY</th>
                    <th class='cost'>Cost</th>
                </thead>
                <tbody>
                    {{#each this.foods as |item|}}
                        <tr>
                            <td>{{increaseIndexByOne @index}}</td>
                            <td>{{item.food.name}}</td>
                            <td>{{formatCurrency item.food.price}}</td>
                            <td>{{item.quantity}}</td>
                            <td class='cost'>{{formatCurrency (multiply item.food.price item.quantity)}}</td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class='total'>
                        <td class='name'>Total</td>
                        <td colspan='2' class='number'>{{formatCurrency this.total}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class='actions'>
            <button class='btn btn-main'>Print</button>
            <button class='btn btn-main'>Pay Now</button>
        </div>
        <div class='note'>
            <p>Thank You for working with us!</p>
        </div>
    </div>
</div>